<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission INTERNET doit être ici, en dehors de <application> -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Billquote"
        tools:targetApi="31">

        <activity android:name=".activity.data.ui.HomeActivity" />
        <activity android:name=".activity.data.ui.client.ClientListActivity" />
        <activity android:name=".activity.data.ui.invoice.InvoiceListActivity" />
        <activity android:name=".activity.data.ui.quote.QuoteListActivity" />
        <activity android:name=".activity.data.ui.quote.CreateQuoteActivity" />

        <activity
            android:name=".activity.ui.login.LoginActivity"
            android:exported="true"
            android:label="LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>






</application>

</manifest>
